{% extends "base.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
{% comment %} {% csrf_token %} nesmi chybet je to bezpecnosti opatreni pro ukladani do databaze pomoci tokenu
 tento koken ma omezenou delku platnosti takze pri delsim formulari osetrit data proti strate meziukladanit{% endcomment %}
    {% comment %}{{ form }}{% endcomment %}
    <table>{{ form.as_table }}</table>
    {% comment %}{{ form.as_p }}{% endcomment %}
    {% comment %}<ul>{{ form.as_ul }}</ul>{% endcomment %}
    <input type="submit" id="id_submit" value="Ulozit" class="btn btn-primary">
</form>
{% endblock %}