{% extends "base.html" %}

{% block content %}
    {% for genre in genres %}
        {% if genre.movies.count %}
            <a href="{% url 'genre' genre.id %}">{{ genre }} ({{ genre.movies.count }})</a>{% if not forloop.last %}, {% endif %}
        {% endif %}
    {% endfor %}
<h1>Seznam filmů {% if perms.viewer.add_movie %}
        <a href="{% url 'movie_create' %}">📝</a>
 {% endif %}</h1>
<hr>
    <ul>
        {% for movie in movies %}
            <div class="d-flex align-items-center mb-1">
                    <a href="{% url 'movie' movie.id %}" class="mr-1">{{ movie }} </a>
                    <div class="rating d-flex">
                        ({{ movie.avg_rating|default:"0" }})
                     </div>

                    <!-- Počet recenzí -->
                    <div class="ml-1 text-muted">
                        <i class="fas fa-comments"></i> {{ movie.review_count }} Reviews
                    </div>

                {% if perms.viewer.change_movie %}
                    <a href="{% url 'movie_update' movie.id%}" class="ml-1">🖊️</a>
                {% endif %}
                {% if perms.viewer.delete_movie %}
                    <a href="{% url 'movie_delete' movie.id%}" class="ml-1">🗑️</a>
                {% endif %}

            </div>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
