{% extends "base.html" %}

{% block content %}
    {% for genre in genres %}
        {% if genre.movies.count %}
            <a href="{% url 'genre' genre.id %}">{{ genre }} ({{ genre.movies.count }})</a>{% if not forloop.last %}, {% endif %}
        {% endif %}
    {% endfor %}
<h1>Seznam filmů <a href="{% url 'movie_create' %}" >📝</a></h1>
    <ul>
        {% for movie in object_list %}
            <li>
                <a href="{% url 'movie' movie.id %}">{{ movie }}</a>
                <a href="{% url 'movie_update' movie.id%}" >🖊️</a>
                <a href="{% url 'movie_delete' movie.id%}" >🗑️</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}